#stuInfoControl{
    background-color: #f1f2f6;
}
#stuInfoControl>div{
    padding-left: 16px;
    padding-right: 16px;
    background-color: white;
    margin-top: 4px;
    overflow: hidden;
}
#stuInfoControl>#user_div{
    padding-bottom: 20px;
}
#stuInfoControl .city-stu-con{
    padding-top: 10px;
    padding-bottom: 10px;
}
#stuInfoControl .search-btn input[type='button']{
    /*width: auto;*/
}
#stuInfoControl #compileData{
    color:#c8c8c8;
}
#stuInfoControl #compileData input,
#stuInfoControl #compileData select{
    border: 1px solid #c8c8c8;
    border-radius:4px;
    color: #777;
}
#stuInfoControl #compileData .am-selected-list{
    border: 1px #c8c8c8 solid;
    background-color: white;
    width: 100%;
}
#stuInfoControl #compileData .am-selected-list li{
    background-color: white;
}
#stuInfoControl .table_module{
    padding-top: 10px;
    padding-bottom: 10px;
}
#stuInfoControl>div#s-info-con{
    padding-bottom: 10px;
}
