@charset "utf-8";
#growth_stu_list {
  padding: 16px;
}
#growth_stu_list .search-content {
  padding-bottom: 16px;
}
#growth_stu_list .select .js-example-basic-single {
  min-width: 200px;
}
#growth_stu_list .select .select2-container--default .select2-selection--single {
  border: 1px solid #c8c8c8;
}
#growth_stu_list .select .select2-selection,
#growth_stu_list .select .select2-selection__rendered {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  color: #777777;
}
#growth_stu_list .select .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 36px;
}
#growth_stu_list .select .name {
  min-width: 200px;
  height: 36px;
  line-height: 36px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  border: 1px solid #c8c8c8;
  font-size: 16px;
  color: #777777;
}
