#school_classes{
    background-color: #f1f2f6;
}
#school_classes>div{
    padding-left:16px;
    padding-right:16px;
    background-color: white;
}
#school_classes .common-select .click_btn{
    display:inline-block;
    height:36px;
    line-height: 36px;
    background-color: rgba(43, 187, 164, 1);
    border-radius: 4px;
    padding-left:10px;
    padding-right:10px;
    cursor: pointer;
}
#school_classes .common-select .click_btn img{
    margin-top: -4px;
}
#school_classes .common-select .click_btn>span{
    display:inline-block;
    color:#fff;
    font-size: 16px;
    margin-left:7px;
}
#school_classes .table-module{
    padding-top: 10px;
    padding-bottom: 10px;
 }
#school_classes .table-module table{
    border:1px #ccc solid;
    border-radius: 4px;
}
#school_classes #compileData{
    color:#c8c8c8;
}
#school_classes #compileData input,
#school_classes #compileData select{
    border: 1px solid #c8c8c8;
    border-radius:4px;
    color: #777;
}

