#weight-set{
    background-color: #f1f2f6;
}
#weight-set>div{
    background-color: white;
    padding-left: 16px;
}
#weight-set>div.w-set-content>div{
    /*!*padding-left: 166px;*!*/
    /*padding-right: 166px;*/
    width: 1017px;
    margin: 0 auto;
}
#weight-set>div.w-set-content p{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #777777;
    text-align: center;
    padding-top: 33px;
}
#weight-set>div.w-set-content .radios>label{
    display: block;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #a2a2a2;
}
#weight-set .am-radio-inline + .am-radio-inline{
    margin-left: 0;
}
#weight-set  input[type="radio"]{
    margin: 7px 0 0;
}
#weight-set .radios>label>label{
    margin-left: 10px;
}
#weight-set .weight-semester-set{
    padding-left: 22px;
    margin-top: 24px;
}
#weight-set .weight-semester-set>div{
    width: 50%;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    line-height: 29px;
    letter-spacing: 0px;
    color: #a2a2a2;
    margin-bottom: 18px;
}
#weight-set .weight-semester-set>div input{
    width: 50px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px #a2a2a2;
    margin-left: 10px;
    margin-right: 10px;
    color:#777;
}
#weight-set .weight-semester-set-btn{
    margin-top: 24px;
    padding-bottom: 24px;
    text-align: center;
}