@charset "utf-8";
#high_school_check{
  .high-table{
    display: flex;
    padding: 10px;
    &>div{
      flex: 1;
      margin: 5px;
      .am-table>tbody>tr>td{
        width: 43%;
      }
      .am-table>tbody>tr>td:first-child{
        width: 14%;
      }
    }
  }
  .score{
    cursor: pointer;
  }
}