#upload_simple_detail{
    background-color: #f1f2f6;
}
#upload_simple_detail .common-select{
    border-radius: 4px 4px 0px 0px;
    padding-left:16px;
    padding-right:16px;
    width: calc(100% - 256px);
}
#upload_simple_detail .common-select{
    background-color: white;
}
/*内容部分*/
#upload_simple_detail .fg-line{
    height:4px;
    width:100%;
    background-color: #F1F2F6;
}
#upload_simple_detail .list-con{
    width: 100%;
    /*overflow-y: auto;*/
}
#upload_simple_detail .list-con>div{
    margin-bottom: 4px;
    /*border:1px solid red;*/
}
#upload_simple_detail .list-con>div:last-child{
    margin-bottom:0;
}
/*单个学生日常表现*/
/*单个学生日常表现*/
#upload_simple_detail .daily-person{
    background-color: #FFFFFF;
}
#upload_simple_detail .list-con .daily-person{
    text-align: center;
    padding-bottom:20px;
    margin-bottom:4px;
}
#upload_simple_detail .list-con .daily-person>div{
    /*padding-left:120px;*/
    /*padding-right:120px;*/
    text-align: center;
}
#upload_simple_detail .stu-info{
    border-bottom:1px dashed #d5d5d5;
    padding-top:19px;
    overflow: hidden;
}
#upload_simple_detail .list-con .daily-person .stu-info>div{
    width:766px;
    display:inline-block;
}
#upload_simple_detail .list-con .daily-person .stu-info>div>div{
    /*display:inline-block;*/
    float:left;
}
#upload_simple_detail .list-con .daily-person .stu-info>div>div:last-child{
    float:right;
}
#upload_simple_detail .line-one{
    width: 1px;
    height: 88px;
    border:1px #d5d5d5 dashed;
    margin-right: 15px;
}

/*#upload_simple_detail .line-two{*/
/*display:inline-block;*/
/*width: 1px;*/
/*height: 18px;*/
/*background-color: #a2a2a2;*/
/*}*/
/*学生头像那块*/
#upload_simple_detail .stu-head{
    /*width:60px;*/
    height:88px;
    margin-right:40px;
    text-align: center;
}
#upload_simple_detail .stu-head .stu-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
}
#upload_simple_detail .stu-head img{
    width:60px;
    height:60px;
    /*width:100%;*/
}
#upload_simple_detail .stu-head .stu-name{
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    color: #ff944d;
    margin-top:4px;
}
/*学校信息*/
#upload_simple_detail .stu-school{
    position: relative;
    width: 75%;
    height: 88px;
    /*width:calc(100% - 261px);*/
}
/*班团活动*/
#upload_simple_detail .stu-school .btn-operation{
    text-align: right;
    margin-top: 14px;
    margin-bottom: 30px;
    line-height:18px;
    overflow:hidden;
}
#upload_simple_detail .stu-school .btn-operation .d-name{
    font-size: 18px;
    font-weight: bold;
    color: #a2a2a2;
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #a2a2a2;
    border-left: 1px solid #a2a2a2;
}
#upload_simple_detail .stu-school>div:last-child{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    color: #a2a2a2;
}
#upload_simple_detail .stu-school>div:last-child span{
    margin-right:8%;
}
#upload_simple_detail .stu-school>div:last-child span:last-child{
    margin-right:0;
}
/*日常表现信息*/
#upload_simple_detail  .list-con .daily-person  .daily-info{
    width:766px;
    /*border:1px solid red;*/
    display:inline-block;
    text-align: left;
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    color: #a2a2a2;
}
#upload_simple_detail  .list-con .daily-person .daily-info .two-info>span:first-child{
    margin-right: 72px;
}
#upload_simple_detail .daily-info>div{
    margin-top:10px;
}
#upload_simple_detail  .daily-info .one-two-index span:first-child{
    margin-right:148px;
}
#upload_simple_detail .daily-info>div p:first-child{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    color: #a2a2a2;
    float:left;
}
#upload_simple_detail .daily-info h3{
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    color: #a2a2a2;
    float:left;
    margin:0;
}
#upload_simple_detail .daily-info p{
    margin:0;
    /*padding-left: 85px;*/
}
/*图片*/
#upload_simple_detail  .daily-info .img-ary{
    border-radius: 4px;
}
#upload_simple_detail  .daily-info .img-ary img{
    margin-bottom:10px;
    width:766px;
    border-radius: 4px;
}
#upload_simple_detail  .daily-info .img-ary img:last-child{
    margin-bottom:0;
}
/*学年学期*/
#upload_simple_detail .d-p-c-nav{
    position: fixed;
    right: 16px;
    width: 250px;
    height: 450px;
    margin-left: 6px;
    background-color: #fff;
    top: 80px;
}
/*----------------------------------------------------滚动条样式--------------------------------------*/
#upload_simple_detail .d-p-munu,
#upload_simple_detail .small-circular,
#upload_simple_detail .out-circle
{
    background-color: #ffffff;
}
#upload_simple_detail .d-p-munu {
    /*position: absolute;*/
    width: 244px;
    /*top: 0;*/
    /*right: 0;*/
    padding-right: 15px;
    padding-top: 18px;
    padding-bottom: 18px;
}
.out-circle, .detail-content, .growth-record ,.model-title{
    background-color: #FFFFFF;
}
#upload_simple_detail .d-p-munu .outer {
    border-right: 1px solid #20bda4;
}
#upload_simple_detail .d-p-munu .outer .inner {
    width: 100%;
    margin-left: 9px;
    text-align: right;
    font-size: 16px;
    color: #a2a2a2;
    padding-top: 30px;
    padding-bottom: 1px;
    position: relative;
}
#upload_simple_detail .d-p-munu .outer .inner ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
#upload_simple_detail .d-p-munu .outer .inner li {
    list-style: none;
    height: 28px;
    line-height: 28px;
    margin-bottom: 30px;
    cursor: pointer;
}
#upload_simple_detail .d-p-munu .outer .inner .right-top-point,
#upload_simple_detail .d-p-munu .outer .inner .right-bottom-point {
    display: inline-block;
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #20bda4;
}
#upload_simple_detail .d-p-munu .outer .inner .right-top-point {
    top: -1px;
    right: 4px;
}
#upload_simple_detail .d-p-munu .outer .inner .right-bottom-point {
    bottom: -2px;
    right: 4px;
}
#upload_simple_detail .d-p-munu .outer .small-circular {
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #a2a2a2;
    margin-right: 3px;
    background-color: white;
}
#upload_simple_detail .d-p-munu .outer .active {
    font-size: 18px;
    color: #20bda4;
}
#upload_simple_detail .d-p-munu .outer .dotted {
    display: inline-block;
    width: 15px;
    height: 13px;
    margin-left: 4px;
    margin-right: 4px;
    background: url(../../../../common/images/file_detail/dotted.png) center no-repeat;
}
#upload_simple_detail .d-p-munu .outer .out-circle {
    position: relative;
    display: inline-block;
    width: 19px;
    height: 19px;
    border-radius: 50%;
    border: 1px solid #20bda4;
    vertical-align: middle;
    margin-left: 5px;
    margin-bottom: 3px;
}
#upload_simple_detail .d-p-munu .outer .inner-circle {
    display: inline-block;
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #20bda4;
    top: 6px;
    left: 6px;
}
/** + p, * + hr, * + ul, * + ol, * + dl, * + blockquote, * + pre, * + address, * + fieldset, * + figure {*/
/*margin-top:0;*/
/*margin-bottom: 0;*/
/*}*/

#upload_simple_detail .form-input>button{
    width: 90px;
    height: 34px;
    color: #FFFFFF;
    border-radius: 4px;
    font-size: 16px;
    border: none;
    outline: none;
    background-color: rgb(2,205,126);
}
#upload_simple_detail .form-input>button:hover{
    background-color: #2bbb7c;
}
#upload_simple_detail .now-menu{
    color: #20bda4;
}
#upload_simple_detail  .no-data{
    height:450px;
}
#upload_simple_detail .cancel-btn{
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background-color: #FFFFFF;
}
#upload_simple_detail .cancel-btn button{
    background-color: rgba(255, 170, 69, 1);
    border-color: rgba(255, 170, 69, 1);
    margin-right: 25px;
    width: 112px;
    height: 34px;
    border-radius: 4px 4px 4px 4px;
    font-size: 16px;
    color: #ffffff;
    outline: none;
    border: none;
}
