@charset "utf-8";
#term_publicity {
  .weui-cells {
    margin-top: -1px;
    text-align: center;
  }
  .weui-cell,
  .weui-select{
    font-size: 14px;
    color: #a2a2a2;
  }
  .no-msg{
    text-align: center;
  }
  .table-tc{
    cursor: pointer;
  }


}