@charset "utf-8";
#vertical_analysis_graduate {
  background-color: #f2f2f6;
  .top {
    background-color: #FFFFFF;
    margin-bottom: 4px;
    padding: 16px;
    padding-bottom: 0;
  }
  .first-index {
    margin-top: 2px;
    margin-bottom: 2px;
    border-radius: 0px 0px 4px 4px;
    background-color: #FFFFFF;
    & > div > div {
      padding-right: 18px;
      padding-left: 18px;
      height: 34px;
      border-radius: 4px;
      border: solid 1px #e4e4e4;
      color: #a2a2a2;
      text-align: center;
      line-height: 34px;
      margin-right: 10px;
      position: relative;
      cursor: pointer;
      & > img {
        position: absolute;
        right: 0;
        top: 0;
      }
    }
    .chosen {
      color: #2bbba4 !important;
      border: solid 1px #2bbba4 !important;
      background: url('../../../common/images/chosen.png') no-repeat top right;
    }
  }
  .first-index, .search-content {
    display: inline-block;
  }
  .horizontal {
    list-style: none;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    li {
      float: left;
      width: 50%;
      height: 100%;
      line-height: 36px;
      text-align: center;

    }
    li:first-child {
      border-right: 1px solid #dcddde;
    }
  }
  .table-content {
    background-color: #FFFFFF;
    padding: 16px;
    .title{
      font-size: 18px;
      text-align: center;
      padding: 10px;
    }
  }
  .tu-biao{
    width: 100%;
    height: 450px;
  }
  #bar_img{
    width: 100%;
    height: 450px;
    margin-top: 100px;
  }
}