#school_achievement{
    background-color: #f5f5f5;
}
.content-one{
    width: 100%;
    height: 104px;
    background-color: #fff;
}
.bulk-load{
    width:100px !important;
    height: 36px;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #2bbba4;
    border: none;
    outline: none;
    border-radius: 4px;
    text-align: center;
    position: relative;
}
.bulk-load-a{
    position: absolute;
    left:10px;
    top: 0px;
}
/*.search-cont{*/
    /*padding-right: 10px !important;*/
    /*padding-left: 10px;*/
    /*padding-top: 10px;*/
/*}*/
.content-ll{
    padding-top: 10px !important;
}
.one_left{
    /*width: 75%;*/
    float: left;
    padding: 13px 26px 3px 26px;
}

.one_left  > div{
    padding-bottom: 10px;
}

.two_right{
    /*width: 25%;*/
    float: right;
    padding: 13px 26px 3px 16px;
}

.two_right > div {
    padding-bottom: 10px;
}

/*.search-btn{*/
    /*margin-left:10px ;*/
/*}*/

/*第二块*/
.content-ach-t{
    background-color: #fff;
    padding:10px;
    margin-top: 10px;
    overflow: hidden;
}
.content-ach-o{
    min-height: 800px;
    overflow-x: scroll;
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #e2e2e2;
}
.table-tt{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #a2a2a2;
}
.table-tt tr{
    border-bottom:1px solid #e8e8e8 ;
}
