#update-level{
    background-color: #f1f2f6;
}
#update-level>div{
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}
#update-level>div.update-level-content{
    margin-top: 4px;
}
#update-level .update-level-content input{
    width: 50px;
    height: 24px;
    border-radius: 4px;
    border: solid 1px #a2a2a2;
    text-align: center;
}
#update-level .update-level-btn{
    margin-top: 48px;
    text-align: center;
}
#update-level .update-level-btn>.btns{
    padding-bottom: 28px;

}
#fractional_section_city,
#proportion_people_city,
#proportion_people_school,
#fractional_section_school,
#fractional_section_class,
#proportion_people_class

{
    border: 1px #d3d3d3 solid;
    border-radius: 4px;
}
#update-level .update-level-content>div{
    padding-top: 46px;
}
.table-module>label{
    margin-right: 60px;
}
.disabled-color{
    background-color: #c8c8c8;
}
.hide_scroll  ::-webkit-scrollbar {display:none}
#update-level .old-select select,
#update-level .old-select input{
    outline: none;
}
#update-level .old-select input{
    width: 200px;
    height: 36px;
    padding-left: 10px;
    border: 1px solid #c8c8c8;
    text-align: left;
    font-size: 16px;
    color: #c8c8c8;
    border-radius: 4px;
    margin-left: 10px;
}
#update-level .old-select input::placeholder{
    color: #c8c8c8;
}
#update-level .upload_div{
    background: none;
}
