@charset "utf-8";
#analysis{
  background-color: #f2f2f6;
  color: #a2a2a2;

  &>div{
    background-color: #FFFFFF;
    padding: 16px;
  }
  &>.title{
    font-size: 18px;
    text-align: center;
    color: rgb(13,186,158);
  }
  .dec{
    font-size: 16px;
    span{
      font-size: 18px;
      color: red;
    }
  }
  .top{
    display: flex;
    &>div{
      flex:1;
      height: 450px;
    }
  }

}