#stu_honor_reward{
    margin-top: 10px;
    font-family: PingFang-SC-Regular;
}
#stu_honor_reward .normalPaddding {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}
#stu_honor_reward .screen_demo{
    padding-left: 15px;
    padding-right: 15px;
}
#stu_honor_reward .screen_demo .weui-cell_select {
    margin-bottom: 0;
    /*border-bottom: none;*/
}
#stu_honor_reward .screen_demo .weui-cell_select:last-child{
    border-bottom: none;
}
/*内容*/
#stu_honor_reward .con{
    /*margin-top:10px;*/
    padding-top:10px;
    background-color: #f6f6f6;
}
#stu_honor_reward .con>div{
    padding-left:15px;
    padding-right:15px;
    margin-bottom:7px;
    background-color: #fff;
}
#stu_honor_reward .con .daily-person{

}
/*头部*/
#stu_honor_reward .person-head{
    height:35px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 35px;
    border-bottom: dotted 1px #eaeaea;
    text-align: center;
}
#stu_honor_reward .person-head span{
    display: inline-block;
    font-size: 14px;
    font-weight: normal;
    color: #8d8d8d;
}
#stu_honor_reward  .person-con{
    padding-top:15px;
    padding-bottom:15px;
}
#stu_honor_reward .record-des{
    margin-bottom:8px;
}
#stu_honor_reward .record-des h3{
    float: left;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #444444;
}
#stu_honor_reward .record-des p{
    font-size: 13px;
    font-weight: normal;
    color: #998a87;
    /*换行*/
    word-wrap: break-word;
    padding-left: 85px;
}
#stu_honor_reward .img-ary{
    overflow: hidden;
    border-radius: 5px;
}
#stu_honor_reward .img-ary img{
    width:100%;
    border-radius: 5px;
}
/*三级菜单选中*/
#stu_honor_reward .three-menu .menu-check{
    border-bottom:1px solid #1EBA96;
    color:#1EBA96;
}
#stu_honor_reward .file-name{
    font-size: 16px;
    line-height: 36px;
}
#stu_honor_reward .my-icon{
    display: inline-block;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
}
#stu_honor_reward .my-icon.file{
    background-image: url("../../../../common/images/weixin_pj/file.png");
}
#stu_honor_reward .my-icon.video{
    background-image: url("../../../../common/images/weixin_pj/video.png");
}