@charset "utf-8";
#singl_subject {
    /*background-color: #f4f4f4;*/
    padding-bottom: 20px
}

#singl_subject > div {
    background-color: #fff
}

#singl_subject .top-title {
    height: 68px;
    line-height: 68px;
    text-align: center
}

#singl_subject .top-title > div:first-child {
    width: 40px;
    height: 40px;
    padding: 14px;
    float: left
}

#singl_subject .top-title > div:first-child > img {
    width: 100%;
    height: 100%
}

#singl_subject .top-title > div:nth-child(2) {
    font-size: 24px;
    color: #333;
    font-weight: 400;
    float: left;
    width: 60%
}

#singl_subject .top-title .screen-icon {
    display: inline-block;
    height: 40px;
    padding: 14px;
    width: 22px;
    float: right;
    background: url('../../../../common/images/xy/subject/screen.png') center no-repeat
}
#singl_subject  .exam_info{
    margin-top:1px;
}
#singl_subject .exam_info> div:nth-child(1) {
    height: 27px;
    line-height: 27px;
    font-size: 14px;
    color: #777;
    background-color: #f4f4f4;
}

#singl_subject .exam_info> div:nth-child(1) span {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px
}

#singl_subject .exam_info> div:nth-child(1) .time {
    float: left
}

#singl_subject .exam_info> div:nth-child(1) .err-num {
    float: right
}

#singl_subject .master {
    height: 26px;
    line-height: 26px;
    font-size: 14px;
    border-bottom: 1px solid #f4f4f4
}

#singl_subject .master span {
    display: inline-block
}

#singl_subject .master > div {
    padding-left: 15px;
    padding-right: 15px
}

#singl_subject .master > div:first-child {
    border-right: 1px solid #f4f4f4
}

#singl_subject .master > div:first-child span {
    color: #ff8813
}

#singl_subject .master > div:first-child span:first-child {
    float: left
}

#singl_subject .master > div:first-child span:last-child {
    float: right
}

#singl_subject .master > div:last-child span {
    color: #14d17f
}

#singl_subject .master > div:last-child span:first-child {
    float: left
}

#singl_subject .master > div:last-child span:last-child {
    float: right
}

#singl_subject .each-problem {
    padding-top: 5px;
    padding-bottom: 5px;
    border-bottom: 1px solid #f4f4f4
}

#singl_subject .problem {
    float: left;
    padding-left: 15px;
    font-size: 16px;
    color: #ff8813
}

#singl_subject .wrong-grade {
    float: right;
    font-size: 14px;
    color: #adadad;
    padding-right: 15px
}

#singl_subject .wrong-grade img {
    height: 12px
}

#singl_subject .problem-pic {
    padding: 5px
}

#singl_subject .problem-pic img {
    width: 100%;
    max-width: 100%
}