#about_uptang {
    /*background-color: #f5f5f5;*/
}
#about_uptang .logo{
    margin-top:16px;
}
#about_uptang .logo-url{
    display:inline-block;
    width:64px;
    height:64px;
    background: url("../../../../common/images/weixin_pj/about_logo.png") no-repeat;
}
#about_uptang .con{
    color:#777;
    padding:20px 16px 0;
    font-size:14px;
}
#about_uptang .con p{
    text-indent: 28px;//首行缩进两个字符
}
#about_uptang .disc{
    display:inline-block;
    text-indent: initial;
    position: relative;
}
#about_uptang .disc span{
    display:inline-block;
    width: 3px;
    height: 3px;
    background-color: #777;
    border-radius: 50%;
    position: absolute;
    top: -5px;
}