#check-roll > #add_content {
    background-color: white;
}

.simple-content1 {
    padding: 8px;
    margin: 5px 0 0;
    outline: none;
    background-color: #FFFFFF;
}

.simple-content1 {
    border: 1px solid #FFFFFF;
}
/*========*/
.simple-content1 ul > li span {
    font-size: 14px;
    line-height: 1.5;
}


.simple-content1 .simple-top-title > h3 {
    padding-top: 2px;
    font-size: 15px;
    color: #444444;
    font-weight: bold;
    height: auto;
    line-height: 20px;
}

.simple-content1 .simple-top-title > h3 > span {
    color: red;
    display: inline-block;
    margin: 0 5px;
}

.simple-content1 .simple-top-title .prompt-span{
    color: #666666;
    display: inline-block;
    margin: 0 5px;
    font-size: 12px;
    font-weight: normal;
}

#check-roll .simple-top-option {
    margin-top: -10px;
}

#check-roll .simple-top-option > ul {
    list-style: none;
    margin-bottom: 0;
}

#check-roll .simple-top-option > ul > li {
    list-style: none;
}

/*====*/
#single-filling-top-option-ul1 > li textarea,
#more-filling-top-option-ul1 > li input ,
#more-filling-top-option-ul1 >li textarea
{
    width: 100%;
    border: 1px #cccccc solid;
    font-size: 14px;
}

#single-filling-top-option-ul1 > li textarea,
#more-filling-top-option-ul1 >li textarea
{
    width: 100%;
    height: 100px;
}

/*====*/
#check-roll .simple-line {
    width: 100%;
    margin: 0 10px;
    border-bottom: 1px solid #efefef;
    height: 1px;
}

#check-roll #simple-top-option-ul .am-radio,
#check-roll #simple-top-option-ul-2 .am-radio {
    margin-top: 4px;
    margin-bottom: 6px;
}

#check-roll #multiple-top-option-ul .am-checkbox {
    margin: 0;
}

#check-roll .button-group-container {
    position: relative;
    height: 40px;
    margin-bottom: 8px;
}

#check-roll .button-group, .button-group-2 {
    position: absolute;
    right: 10px;
    top: 10px;
    display: none;
}

#check-roll .option-desc, .option-desc-1 {
    color: #999999;
}

.option-desc-1 {
    display: inline-block;
    margin-left: 8px;
}

#check-roll {
    position: relative;
    background-color: #FFFFFF;
    padding: 0 40px;
}

#check-roll .roll-title {
    text-align: center;
    font-size: 24px;
    font-weight: bolder;
}
#check-roll .name-company{
    text-align: center;
    font-size: 16px;
}
.finish-see{
    position: absolute;
    right: 2%;
    top: 10px;
}
.title-color{
    color: #a2a2a2;
}
.go-back{
    background-color: rgb(255,158,71);
    border-radius: 4px;
    color: #FFFFFF;
}
.go-back:hover{
    background-color: #ff7a45;
}