#home_x div.content_box>.context_high>p{
    margin-bottom: 0;
}
#home_x div.content_box>.context_high>p>a{
   color:#d1d1d1;
    font-size: 14px;
}
#home_x div.content_box>.context_high>p .active1{
    color:#2289d2;
}
#home_x div.content_box>.context_high>p .active2{
    color:#ff8b63;
}#home_x div.content_box>.context_high>.everyday-container{
    height: 205px;
    overflow-y: auto;
 }
#home_x div.content_box>.context_high>.everyday-container>div{
   position: relative;
}
#home_x div.content_box>.context_high>.everyday-container div.circle_x{
    width: 10px;
    height: 10px;
    border: 2px #51cfb6 solid;
    -webkit-border-radius: 5px;
    position: absolute;
    top:18px;
}
#home_x div.content_box>.context_high>.everyday-container div.circle_y{
    border: 2px #ff906a solid;
    position: absolute;
}
/*------------------------------------------------滚动条样式-----------------------------*/
.everyday-container::-webkit-scrollbar {/*滚动条整体样式*/
    width: 4px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 4px;
}
.everyday-container::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: rgba(0,0,0,0.05);
}
.everyday-container::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 0;
    background: rgba(0,0,0,0.05);
}
/*--------------------------------------------滚动条样式------------------------------------*/
