#index_weight_setting{
    background-color: #f1f2f6;
}
#index_weight_setting>div{
    background-color: white;
    padding-left: 16px;
    padding-right: 16px;
}
#index_weight_setting>div>div.w-set-table{
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
}
#index_weight_setting table{
    border-radius: 4px;
}
#index_weight_setting  .am-table>tbody>tr>td{
    white-space: normal;
}

#index_weight_setting .am-table > tbody > tr > td:nth-child(2){
    max-width: 600px;
    text-align: center;
}
#index_weight_setting .am-table > tbody > tr > td:nth-child(3){
    min-width: 200px;
}
#index_weight_setting .am-table > tbody > tr > td ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
#index_weight_setting .am-table > tbody > tr > td ul li{
    list-style: none;
    height: 30px;
    margin-top: 4px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#index_weight_setting .am-table > tbody > tr > td li input{
    width: 40px;
    height: 24px;
    border-radius: 4px;
    border: 1px #a2a2a2 solid;
    text-align: center;
    margin-right: 5px;
}
#index_weight_setting .am-table > tbody > tr > td{
    padding: 0;
}

#index_weight_setting .no-border{
    border-bottom: none!important;
}
#index_weight_setting .btns{
    padding-bottom: 20px;
    text-align: center;
}
#index_weight_setting .disabled_input{
    border: none;
    background-color: white;
    width: 50px;
}