#ecm_achievement_import{
    background-color: #f1f2f6;
}
#ecm_achievement_import .common-select,
#ecm_achievement_import .list-con>div{
    border-radius: 4px 4px 0px 0px;
    padding-left:16px;
    padding-right:16px;
}
#ecm_achievement_import .common-select,
#ecm_achievement_import .list-con>div{
    background-color: white;
}
/*内容*/
#ecm_achievement_import .list-con>div{
    text-align:center;
}
#ecm_achievement_import .list-con .con-one,
#ecm_achievement_import .list-con .con-two{
    padding-top:12px;
    padding-bottom:20px;
}
#ecm_achievement_import .list-con .con-one table{
    width:100% !important;
}
#ecm_achievement_import .list-con .title{
    font-size: 18px;
    color: #0dba9e;
    padding-top: 18px;
    padding-bottom: 8px;
    height: 73px;
}
/*内容2*/
#ecm_achievement_import .list-con .con-two{
    margin-top:4px;
    overflow: hidden;
}
#ecm_achievement_import .list-con .con-two table{

}
/*table2、table3*/
#ecm_achievement_import .am-table {
    margin-bottom:0;
    border-radius:4px;
    width:49% !important;
}
#ecm_achievement_import  table{
    table-layout: fixed;/*固定布局的算法。在这种算法中，表格和列的宽度取决于col对象的宽度总和，假如没有指定，则会取决于第一行每个单元格的宽度。假如表格没有指定宽度( width )属性，则表格被呈递的默认宽度为 100% （注意：此样式是关键）*/
}
