#art_evaluation_public .am-table>thead>tr>th,
#art_evaluation_public .am-table>tbody>tr>td{
    white-space: inherit;
}
#art_evaluation_public{
    background-color: #f1f2f6;
}
#art_evaluation_public>div{
    background-color: white;
    padding-left:16px;
    padding-right:16px;
}
#art_evaluation_public>div.public_div>div{
    position: relative;
    width: 400px;
    height: 400px;
    margin: 0 auto;
}
#art_evaluation_public>div.public_div>div>img{
    position: absolute;
    top:25%;
    left:25%;
}


/*第二块*/
#art_evaluation_public .content-ach-t{
    background-color: #fff;
    padding:10px;
    margin-top: 10px;
}
#art_evaluation_public .content-ach-o{
    background-color: #ffffff;
    border-radius: 4px;
    border: solid 1px #e2e2e2;
}
#art_evaluation_public .table-tt{
    width: 100%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    font-family: MicrosoftYaHei;
    font-size: 14px;
    color: #a2a2a2;
}
#art_evaluation_public .table-tt tr{
    border-bottom:1px solid #e8e8e8 ;
}