@charset "utf-8";
#result_list{
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 16px;
}
#create_result_generation{
  padding-top: 16px;
  padding-bottom: 16px;
  .content-result{
    margin:0 auto;
    max-width: 500px;
  }
  .select{
    width: 300px;
    margin-bottom: 16px;
  }
  .form-input{
    margin-bottom: 16px;
  }
  .form-input,.select{
    input{
      width: 300px;
      height: 36px;
      border: 1px solid #c8c8c8;
      border-radius: 4px;
      //padding: 5px;
      padding-left: 20px;
      font-size: 16px;
      color: #777777;
    }
  }
  .content-result{
    label{
      font-size: 16px;
    }
    .btn-content{
      width: 440px;
      margin: 0 auto;
    }
  }
}
#result_check_list{
  padding: 16px;
  .img-table{
    display: flex;
    &>div{
      flex: 1;
    }
  }
  #rank_img{
    height: 300px;
  }
  .rank-table{
    margin-top: 148px;
  }
  .am-table>thead>tr>th, .am-table>tbody>tr>td{
    height: 40px;
  }
}