@charset "utf-8";
#input_information {
  .weui-cells {
    margin-top: 0;
  }
  .label-title {
    font-size: 1em;
    color: #000;
  }
  .disabled_class {
    background-color: #9da29d;
  }
  .weui-cell_access .weui-cell__ft {
    padding-right: 9%;
  }
  @labelSize: 15px;
  @normalColor: #a2a2a2;
  .weui-label,
  .weui-select,
  .weui-input,
  .weui-input::placeholder,
  .weui-textarea,
  .radio-choose > label,
  textarea::placeholder {
    font-size: @labelSize;
    color: @normalColor;
  }
  .yiju {
    font-size: 12px;
    color: @normalColor;
  }
  .dec > p {
    font-size: 10px;
    color: #CDCDCD;
  }
  .cell2, .score {
    margin-top: -1px;
  }
  .radio-choose {
    display: flex;
    .line {
      width: 1px;
      height: 30px;
      margin-top: 5px;
      background-color: #eeeeee;
    }
    label {
      flex: 1;
    }
  }

}
