#regional_analysis_graduate{
  background-color: #f6f5f5;
  &>div{
    background-color: #FFFFFF;
  }
  .search-content{
    padding: 16px;
    margin-bottom: 4px;
  }
  .title{
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
  }
  .draw-img{
    width: 100%;
    height: 500px;

  }
  #img-bar{
    width: 80%;
    height: 456px;
    margin: 0 auto;
  }
  .double-img{
    display: flex;
    width: 100%;
    height: 500px;
    &>div{
      flex: 1;
    }
  }
  .no-msg{
    text-align: center;
  }
  #img-sex,
  #img-zs{
    width: 100%;
    height:456px;
  }
}